<h1>All Airplanes</h1>
<hr>
<%= link_to "New Airplane", new_airplane_path %>

<hr>
<br>
      <% @airplanes.each do |airplane| %>
      <strong>Plane Name:</stong>
      <%= link_to airplane.name, airplane_path(airplane) %>
      <br>
      <strong>Pilot Name:</strong>
          <%= airplane.pilot %>
      <br>
          <%= link_to "edit", edit_airplane_path(airplane) %> |
          <%= link_to "delete", airplane_path(airplane), method: :delete, data: {confirm: "Are you sure?"} %>
          <br>
          <hr>
    <% end %>
