<h1>All Events</h1>

<%= link_to "New Airplane", new_airplane_path %>

<hr>
<br>
      <% @airplanes.each do |airplane| %>
      <%= link_to airplane.name, airplane_path(airplane) %>
      <br>
          <%= airplane.pilot %>
      <br>
          <%= link_to "edit", edit_event_path(event) %> |
          <%= link_to "delete", event_path(event), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
    <hr>
