<h1>New Airplane</h1>
<hr>

<%= form_for @airplane do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :pilot %>
    <%= f.text_field :pilot %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
